body {
    background-image: url("2.jpg");
    background-size: 100%;
}

#login{
    position: absolute;
    
}

p {
    color:  red;
}

.form-group{
    font-size: 20px;
    width: 300px;
}

.text-muted {
    margin-top: 500px;
    font-size: 20px;
    float: right;
}