.navbar-brand {
    font-family: 'Covered By Your Grace', cursive;
}

.container{
    font-family: 'Covered By Your Grace', cursive;
}

.navbar{
    background-color: hsl(70, 11%, 23%) !important;
}

.navbar .navbar-header a{
    color: hsl(0, 0%, 79%) !important;
}