.highlights{
    color:#999999;
}


body {
   /*background-image: url("1.jpg");
    background-image: url("4.jpg");
    background-image: url("5.jpg");
    background-image: url("6.jpg");
    background-image: url("7.jpg");
    */
    background-image: url("3.jpg");
    font-size:18px;
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
    
    background-size: 100%;
   /* background-image: url("6.jpg"); */
}

footer{
    position: fixed;
    bottom: 0;
    margin-left: 950px
}

.monomeets{
    color: black;
}

.ribbon1 {
    display: inline-block;
    border-radius: 30px;
    position: relative;
    height: 50px;/*リボンの高さ*/
    line-height: 50px;/*リボンの高さ*/
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;/*横の大きさ*/
    font-size: 15px;/*文字の大きさ*/
    background: #f57a78;/*塗りつぶし色*/
    color: #FFF;/*文字色*/
}